:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gray: #6d6e72;
  --primary: #c31c3c;
  --primary-2: #8F142B;
  --black: #202020;
}

* {
  box-sizing: border-box;
}

html, body, p {
  margin: 0;
  padding: 0;
  color: var(--black);
}

body {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  border: inherit;
  background-color: inherit;
  appearance: none;
}

button:disabled, form:invalid button {
  cursor: default;
  pointer-events: none;
}

main {
  width: 100%;
  padding: 32px 0px;
  max-width: 640px;
}

/***
 * input form
 **/

.input-form {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.input-form > label {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-form > label > p {
  padding: 0px 12px;
  font-size: 0.8rem;
  color: var(--gray);
}

.input-form > label:focus-within > p {
  color: var(--primary);
  font-weight: bold;
}

input[type=text] {
  height: 40px;
  padding: 4px 12px;
  flex-grow: 1;
  border: 1px solid var(--gray);
  border-radius: 4px;
  outline: none;
  font-size: 1.125rem;
}

input[type=text]:focus {
  border: 2px solid var(--primary);
}

.todo-button {
  color: white;
  border-radius: 4px;
}

.todo-submit-button {
  width: 80px;
  height: 40px;
  background-color: var(--primary);
  font-size: 1.125rem;
}

.todo-submit-button:hover, .todo-submit-button:focus-visible {
  background-color: var(--primary-2);
}

form:invalid .todo-submit-button {
  background-color: var(--gray);
}

todo-filter {
  height: 32px;
  display: flex;
  gap: 16px;
}

todo-filter > .todo-button {
  width: 80px;
  background-color: var(--gray);
}

todo-filter > .todo-button.selected {
  background-color: var(--primary);
}

todo-filter > .todo-button:hover, todo-filter > .todo-button:focus-visible {
  background-color: var(--primary-2);
}