:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gray: #6d6e72;
  --primary: #c31c3c;
  --primary-2: #8F142B;
  --black: #202020;
  --red: #EF4444;
  --red-2: #B91C1C;
}

* {
  box-sizing: border-box;
}

html, body, p {
  margin: 0;
  padding: 0;
  color: var(--black);
}

body {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  border: inherit;
  background-color: inherit;
  appearance: none;
}

button:disabled, form:invalid button {
  cursor: default;
  pointer-events: none;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0px;
  max-width: 640px;
}

/***
 * input form
 **/

.input-form {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.input-form > label {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-form > label > p {
  padding: 0px 12px;
  font-size: 0.8rem;
  color: var(--gray);
}

.input-form > label:focus-within > p {
  color: var(--primary);
  font-weight: bold;
}

input[type=text] {
  height: 40px;
  padding: 4px 12px;
  flex-grow: 1;
  border: 1px solid var(--gray);
  border-radius: 4px;
  outline: none;
  font-size: 1.125rem;
}

input[type=text]:focus {
  border: 2px solid var(--primary);
}

input[type=checkbox] {
  margin: 0;
  appearance: none;
  border: 1px solid var(--gray);
  border-radius: 4px;
}

input[type=checkbox]:checked {
  border: none;
  background-color: var(--primary);
}

input[type=checkbox]:checked::after {
  content: url("data:image/svg+xml,%3Csvg width='40' height='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 20 L 15 30 L 35 10' stroke='white' fill='none' stroke-width='3'%3E%3C/path%3E%3C/svg%3E");
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.todo-button {
  color: white;
  border-radius: 4px;
}

.todo-submit-button {
  width: 80px;
  height: 40px;
  background-color: var(--primary);
  font-size: 1.125rem;
}

.todo-submit-button:hover, .todo-submit-button:focus-visible {
  background-color: var(--primary-2);
}

form:invalid .todo-submit-button {
  background-color: var(--gray);
}

/***
 * filter button
 **/

todo-filter {
  height: 32px;
  display: flex;
  gap: 16px;
}

todo-filter > .todo-button {
  width: 80px;
  background-color: var(--gray);
}

todo-filter > .todo-button.selected {
  background-color: var(--primary);
}

todo-filter > .todo-button:hover, todo-filter > .todo-button:focus-visible {
  background-color: var(--primary-2);
}

todo-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

todo-list > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/***
 * todo list item
 **/

todo-item {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  gap: 16px;
}

todo-item label{
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 16px;
}

todo-item input[type=checkbox] {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

todo-item input[type=checkbox]:checked + .detail {
  color: var(--gray);
  text-decoration: line-through;
}

todo-item .detail {
  flex-grow: 1;
}

todo-item .delete-button {
  width: 80px;
  background-color: var(--red);
}

todo-item .delete-button:hover, todo-item .delete-button:focus-visible {
  width: 80px;
  background-color: var(--red-2);
}
